<div class="p-4 md:p-8">
  <!-- Header de la galería -->
<div class="flex flex-col md:flex-row justify-between items-center mb-6">

  <!-- Contenedor del título, botones y datos de carpetas -->
  <div class="flex flex-col md:flex-row md:items-center w-full space-y-2 md:space-y-0">

    <!-- Contenedor del título y botones -->
    <div class="flex items-center justify-between w-full">

      <!-- Título y Botón de Atrás -->
      <div class="flex flex-col items-center space-x-2">
        <!-- Botón de Atrás -->
        <button *ngIf="currentFolder" (click)="goBack()" class="flex items-center text-blue-600 hover:text-blue-700 transition duration-200 mr-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="hidden md:inline ml-2">Atrás</span>
        </button>

        <!-- Título Dinámico -->
        <h2 class="text-2xl md:text-4xl font-bold text-gray-900">
          {{ currentFolder ? currentFolder : 'Galería de Medios' }}
        </h2>

        <!-- Datos de carpetas y archivos (se mantiene la estructura de filas para pantallas pequeñas) -->
        <div class="flex space-x-4 text-gray-600 text-sm md:text-base mt-4 md:mt-0 md:ml-4">
          <div *ngIf="!currentFolder">
            <p>Total de carpetas: <span class="font-semibold">{{ folders.length }}</span></p>
          </div>
          <div>
            <p>Total de archivos: <span class="font-semibold">{{ totalMediaCount }}</span></p>
          </div>
          <div *ngIf="currentFolder">
            <p>Archivos en esta carpeta: <span class="font-semibold">{{ currentFolderMediaCount }}</span></p>
          </div>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="flex items-center space-x-2 ml-auto">
        <!-- Botón de Crear Carpeta -->
        <button *ngIf="!currentFolder" (click)="openCreateFolderModal()" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg shadow-md flex items-center transition duration-200">
          <fa-icon [icon]="faFolder"></fa-icon>
          <span class="hidden md:inline ml-2">Crear Carpeta</span>
        </button>

        <!-- Botón de selección múltiple -->
        <button *ngIf="hasFiles" (click)="toggleMultiSelect()" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded transition duration-200 flex items-center">
          <fa-icon [icon]="multiSelectMode ? faTimes : faCheckDouble"></fa-icon>
          <span class="hidden md:inline ml-2">{{ multiSelectMode ? "Cancelar selección múltiple" : "Seleccionar múltiples" }}</span>
        </button>

        <!-- Botón para eliminar seleccionados -->
        <button *ngIf="multiSelectMode && mediaList.length > 0" (click)="deleteSelectedMedia()" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded transition duration-200 flex items-center">
          <fa-icon [icon]="faTrash"></fa-icon>
          <span class="hidden md:inline ml-2">Eliminar seleccionados</span>
        </button>

        <!-- Botón para abrir el modal de subir archivos -->
        <button (click)="openUploadFilesModal()" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg shadow-md flex items-center transition duration-200">
          <fa-icon [icon]="faUpload"></fa-icon>
          <span class="hidden md:inline ml-2">Subir Archivos</span>
        </button>

        <!-- Botón para cambiar el modo de vista en móviles -->
        <div class="flex justify-end md:hidden">
          <button (click)="toggleViewMode()" class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow-md transition duration-200">
            <fa-icon [icon]="viewMode === 'list' ? faThLarge : faList"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Lista de carpetas -->
  <div *ngIf="!currentFolder" [ngClass]="{'grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 mb-8': viewMode === 'grid', 'space-y-4': viewMode === 'list'}">
    <div *ngFor="let folder of filteredFolders" class="bg-white p-4 rounded-lg shadow-lg relative cursor-pointer flex items-center hover:shadow-xl transition duration-200" (dragover)="allowDrop($event)" (drop)="onDrop($event, folder)">
      <div class="flex justify-between w-full">
        <div class="flex items-center" (click)="openFolder(folder)">
          <fa-icon [icon]="faFolder" class="text-3xl md:text-5xl text-blue-500 mr-2"></fa-icon>
          <p class="text-gray-700 font-medium truncate">{{ folder }}</p>
        </div>
        <div class="flex flex-col ml-4">
          <button (click)="openRenameFolderModal(folder)" class="text-yellow-500 hover:text-yellow-600 transition duration-200">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button (click)="deleteFolder(folder)" class="text-red-500 hover:text-red-600 transition duration-200">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para mover a la raíz -->
  <div *ngIf="currentFolder" class="mb-4">
    <div class="bg-blue-100 text-blue-700 p-4 rounded-lg text-center cursor-pointer hover:bg-blue-200 transition duration-200 flex items-center justify-center space-x-2" (drop)="onDropToRoot($event)" (dragover)="allowDrop($event)">
      <fa-icon [icon]="faLevelUpAlt"></fa-icon>
      <span>Mover a la raíz</span>
    </div>
  </div>

  <!-- Lista de medios en la carpeta -->
  <div *ngIf="mediaList.length > 0; else noMedia" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">
    <div *ngFor="let media of mediaList" class="rounded-lg shadow-lg relative overflow-hidden hover:shadow-xl transition duration-200" draggable="true" (dragstart)="onDragStart($event, media)">
      <div class="absolute top-2 left-2 flex items-center space-x-2">
        <fa-icon *ngIf="isVideo(media.url)" [icon]="faVideo" class="text-white bg-black bg-opacity-50 p-1 rounded"></fa-icon>
        <fa-icon *ngIf="!isVideo(media.url)" [icon]="faImage" class="text-white bg-black bg-opacity-50 p-1 rounded"></fa-icon>
      </div>

      <ng-container *ngIf="isVideo(media.url); else imageTemplate">
        <video [src]="media.url" class="w-full h-32 md:h-48 object-cover cursor-pointer" (click)="openModal(media)"></video>
      </ng-container>

      <ng-template #imageTemplate>
        <img [src]="media.url" alt="Uploaded media" class="w-full h-32 md:h-48 object-cover cursor-pointer" (click)="openModal(media)" />
      </ng-template>

      <div *ngIf="multiSelectMode" class="absolute top-2 right-2">
        <input type="checkbox" [(ngModel)]="media.selected" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
      </div>
      <button *ngIf="!multiSelectMode" (click)="deleteMedia(media)" class="text-red-500 absolute top-2 right-2 hover:text-red-600 transition duration-200">
        <fa-icon [icon]="faTrash" class="bg-black bg-opacity-50 p-1 rounded"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Sin medios disponibles -->
  <ng-template #noMedia>
    <p class="text-center text-gray-500">No hay imágenes o videos disponibles.</p>
  </ng-template>

  <!-- Modal para mostrar medios en grande -->
  <div *ngIf="isModalOpen && selectedMedia && selectedMedia.url" class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50" (click)="closeModal()" (swiperight)="navigateNext()" (swipeleft)="navigatePrevious()" (swipedown)="closeModal()">
    <!-- Contenedor del modal -->
    <div class="relative w-full h-full max-w-4xl max-h-full flex items-center justify-center overflow-hidden p-4" (click)="$event.stopPropagation()">
      <button (click)="closeModal()" class="absolute top-2 right-2 text-white text-3xl">&times;</button>

      <!-- Flechas de Navegación -->
      <button (click)="navigatePrevious()" class="absolute left-0 top-1/2 transform -translate-y-1/2 text-white text-3xl bg-black bg-opacity-50 rounded-full p-2 cursor-pointer hover:bg-opacity-75 transition duration-200 z-50">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
      <button (click)="navigateNext()" class="absolute right-0 top-1/2 transform -translate-y-1/2 text-white text-3xl bg-black bg-opacity-50 rounded-full p-2 cursor-pointer hover:bg-opacity-75 transition duration-200 z-50">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>

      <!-- Contenido del modal -->
      <ng-container *ngIf="isVideo(selectedMedia.url); else imageModal">
        <video [src]="selectedMedia.url" controls class="max-w-full max-h-screen rounded-lg shadow-lg"></video>
      </ng-container>

      <ng-template #imageModal>
        <img [src]="selectedMedia.url" alt="Imagen ampliada" class="max-w-full max-h-screen rounded-lg shadow-lg" />
      </ng-template>
    </div>
  </div>

  <!-- Modal para crear carpeta -->
  <div *ngIf="isCreateFolderModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
      <h3 class="text-xl font-semibold mb-4">Crear nueva carpeta</h3>
      <input
        type="text"
        [(ngModel)]="newFolderName"
        placeholder="Nombre de la carpeta"
        class="w-full border border-gray-300 rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 mb-4"
        (keydown.enter)="createFolder()"
      />
      <div class="flex justify-end space-x-2">
        <button (click)="closeCreateFolderModal()" class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded-lg transition duration-200">
          Cancelar
        </button>
        <button (click)="createFolder()" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg transition duration-200">
          Crear
        </button>
      </div>
    </div>
  </div>

  <!-- Modal para renombrar carpeta -->
  <div *ngIf="isRenameFolderModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
      <h3 class="text-xl font-semibold mb-4">Renombrar carpeta</h3>
      <input
        type="text"
        [(ngModel)]="newFolderName"
        placeholder="Nuevo nombre de la carpeta"
        class="w-full border border-gray-300 rounded-lg p-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 mb-4"
        (keydown.enter)="renameFolder()"
      />
      <div class="flex justify-end space-x-2">
        <button (click)="closeRenameFolderModal()" class="bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded-lg transition duration-200">
          Cancelar
        </button>
        <button (click)="renameFolder()" class="bg-yellow-500 hover:bg-yellow-600 text-white px-4 py-2 rounded-lg transition duration-200">
          Renombrar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal para subir archivos -->
  <div *ngIf="isUploadFilesModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="w-full max-w-lg bg-white rounded-lg shadow-md p-6 space-y-6">
      <!-- Título y botón de cierre -->
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-semibold text-gray-800">Subir Archivos</h2>
        <button (click)="closeUploadFilesModal()" class="text-gray-600 hover:text-gray-800 focus:outline-none">
          <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
        </button>
      </div>

      <div>
        <label for="search" class="block text-gray-700 font-medium mb-2">Buscar Carpeta</label>
        <div class="relative">
          <input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Escribe para buscar..." class="w-full border border-gray-300 rounded-lg pl-4 pr-10 py-2 focus:outline-none
            focus:ring-2 focus:ring-blue-500 transition duration-200" (input)="filterFolders()"/>
          <fa-icon [icon]="faSearch" class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></fa-icon>
        </div>
      </div>

      <div>
        <label for="folder" class="block text-gray-700 font-medium mb-2">Seleccionar Carpeta</label>
        <div class="relative">
          <select id="folder" [(ngModel)]="selectedFolder" class="w-full border border-gray-300 rounded-lg pl-4 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 bg-white">
            <option [ngValue]="null">Raíz</option>
            <option *ngFor="let folder of filteredFolders" [ngValue]="folder">{{ folder }}</option>
          </select>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
        <label for="files" class="flex items-center justify-center w-full sm:w-2/3 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg cursor-pointer transition duration-200">
          <fa-icon [icon]="faFileUpload" class="mr-2"></fa-icon>
          <span>Seleccionar Archivos</span>
          <input id="files" type="file" (change)="onFileSelected($event)" multiple class="hidden"/>
        </label>

        <button (click)="uploadFiles()" [disabled]="!selectedFiles || selectedFiles.length === 0" class="w-full sm:w-1/3 flex items-center justify-center bg-green-600 hover:bg-green-700 text-white
          font-medium py-2 px-4 rounded-lg transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed">
          <fa-icon [icon]="faUpload" class="mr-2"></fa-icon>
          <span>Subir</span>
        </button>
      </div>

      <div *ngIf="selectedFiles && selectedFiles.length > 0" class="max-h-40 overflow-auto border border-gray-200 rounded-lg p-2">
        <p class="text-gray-700 font-medium mb-2">Archivos Seleccionados:</p>
        <ul class="list-disc list-inside text-gray-600">
          <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
