<div class="min-h-screen flex flex-col bg-gray-50">

  <header class="bg-gradient-to-r from-blue-500 to-purple-600 text-white shadow-lg">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center">
      <h1 class="text-3xl font-bold tracking-wide">Image Upload App</h1>
      <nav>
        <ul class="flex space-x-6 text-lg">
          <!-- <li>
            <a routerLink="/upload" routerLinkActive="text-purple-300" class="hover:text-purple-300 transition duration-200">Subir Imagen</a>
          </li> -->
          <li>
            <a routerLink="/gallery" routerLinkActive="text-purple-300" class="hover:text-purple-300 transition duration-200">Galería</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>


  <main class="flex-grow container mx-auto px-4 py-8 overflow-auto">
    <router-outlet></router-outlet>
  </main>
</div>
