<div class="flex justify-center items-center p-4">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="login()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Usuario</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" [(ngModel)]="username"
          name="username" required/>
      </div>
      <div class="mb-4 relative">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Contraseña</label>
        <input [type]="showPassword ? 'text' : 'password'" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password" [(ngModel)]="password" name="password" required/>
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 px-3 text-gray-600 focus:outline-none">
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div class="flex items-center justify-between">
        <button [disabled]="loading" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
          {{ loading ? "Cargando..." : "Entrar" }}
        </button>
      </div>
    </form>
  </div>
</div>
